<div class="background">
  <section class="home" id="home">
    <div class="home-text" style="text-align: center">
      <h1 style="margin-right: 10px">Top Special Menu</h1>
      <!-- <h2 style="padding-right: 10px">
        'Today's good mood is sponsored by Kaffe'
      </h2> -->
      <!-- <a href="#" class="btn">Menu</a> -->
      <!-- <a class="btn btn-primary" href="#" role="button"></a> -->
      <div><br /></div>
      <!-- <button
        class="btn btn-primary btn-sm glassy-button"
        type="submit"
        routerLink="/products"
      >
        Menu
      </button> -->
    </div>
    <!-- <div class="special">
      <img src="../../assets/images/pf_cappuccino.jpg" alt="coffeecup.png" />
    </div> -->
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-4 col-sm-6 mb-4">
          <div class="card">
            <img
              src="../../assets/images/pf_ex.jpg"
              class="card-img-top"
              alt="latte.jpg"
            />
            <div class="card-body">
              <h5 class="card-title">Iced Latte</h5>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-4">
          <div class="card">
            <img
              src="../../assets/images/pf_mocha.jpg"
              class="card-img-top"
              alt="cappuchino.jpg"
            />
            <div class="card-body">
              <h5 class="card-title">Cappuccino</h5>
              <!-- <a routerLink="/products/2" class="btn btn-primary btn-sm"
                ><i class="fa-solid fa-cart-shopping"></i>Order</a
              > -->
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-4">
          <div class="card">
            <img
              src="../../assets/images/pf_esp.jpg"
              class="card-img-top"
              alt="espresso.jpg"
            />
            <div class="card-body">
              <h5 class="card-title">Espresso</h5>
              <!-- <a routerLink="/products/3" class="btn btn-primary btn-sm"
                ><i class="fa-solid fa-cart-shopping"></i>Order</a
              > -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div></div>
</div>
<app-contact></app-contact>
