<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary mx-auto">
  <div class="container-fluid">
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">About us</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<div class="container-fluid">
  <h1>Menu</h1>

  <div class="menu" id="menu">
    <div class="row mt-3 justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
        <div class="card" style="width: 13rem">
          <img
            src="../../assets/images/pf_macha.jpg"
            class="card-img-top"
            alt="latte.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Macha</h5>
            <!-- <a routerLink="/products/1" class="btn btn-primary btn-sm"
              ><i class="fa-solid fa-cart-shopping"></i>Order</a
            > -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
        <div class="card" style="width: 13rem">
          <img
            src="../../assets/images/pf_esp.jpg"
            class="card-img-top"
            alt="cappuchino.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Cappuchino</h5>
            <!-- <a routerLink="/products/2" class="btn btn-primary btn-sm"
              ><i class="fa-solid fa-cart-shopping"></i>Order</a
            > -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
        <div class="card" style="width: 13rem">
          <img
            src="../../assets/images/pf_ex.jpg"
            class="card-img-top"
            alt="espresso.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Latte</h5>
            <!-- <a routerLink="/products/3" class="btn btn-primary btn-sm"
              ><i class="fa-solid fa-cart-shopping"></i>Order</a
            > -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
        <div class="card" style="width: 13rem">
          <img
            src="../../assets/images/pf_es.jpg"
            class="card-img-top"
            alt="americano.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Espresso</h5>
            <!-- <a routerLink="/products/4" class="btn btn-primary btn-sm">Order</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
        <div class="card" style="width: 13rem">
          <img
            src="../../assets/images/pf_ml.jpg"
            class="card-img-top"
            alt="iced coffee.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Macha Latte</h5>
            <!-- <a routerLink="/products/5" class="btn btn-primary btn-sm">Order</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
        <div class="card" style="width: 13rem">
          <img
            src="../../assets/images/pf_cho.jpg"
            class="card-img-top"
            alt="iced chocolate.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Chocolate</h5>
            <!-- <a routerLink="/products/6" class="btn btn-primary btn-sm">Order</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
        <div class="card" style="width: 13rem">
          <img
            src="../../assets/images/pf_mocha.jpg"
            class="card-img-top"
            alt="mocha.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Mocha</h5>
            <!-- <a routerLink="/products/7" class="btn btn-primary btn-sm">Order</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
        <div class="card" style="width: 13rem">
          <img
            src="../assets/images/pf_bl.jpg"
            class="card-img-top"
            alt="ice caramel latte.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Black Coffee</h5>
            <!-- <a routerLink="/products/8" class="btn btn-primary btn-sm">Order</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-contact></app-contact>
