<div class="row">
  <div class="col-4" class="card" style="width: 14rem">
    <img
      src="../assets/images/iced latte.jpg"
      class="card-img-top"
      alt="latte.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">Iced Latte</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a routerLink="/products/1" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="col-3" class="card" style="width: 14rem">
    <img
      src="../assets/images/cappuchino.jpg"
      class="card-img-top"
      alt="cappuchino.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">Cappuchino</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a routerLink="/products/2" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col-3" class="card" style="width: 14rem">
    <img
      src="../../assets/images/espresso.jpg"
      class="card-img-top"
      alt="espresso.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">Espresso</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a routerLink="/products/3" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col-3" class="card" style="width: 14rem">
    <img
      src="../assets/images/americano.jpg"
      class="card-img-top"
      alt="americano.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">Americano</h5>

      <a routerLink="/products/4" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col-3" class="card" style="width: 14rem">
    <img
      src="../assets/images/iced coffee.jpg"
      class="card-img-top"
      alt="iced coffee.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">Iced Coffee</h5>

      <a routerLink="/products/4" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col-3" class="card" style="width: 14rem">
    <img
      src="../assets/images/iced chocolate.jpg"
      class="card-img-top"
      alt="iced chocolate.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">Iced chocolate</h5>

      <a routerLink="/products/4" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col3" class="card" style="width: 14rem">
    <img
      src="../assets/images/mocha_coffee.jpg"
      class="card-img-top"
      alt="mocha.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">Mocha</h5>

      <a routerLink="/products/4" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col-3" class="card" style="width: 14rem">
    <img
      src="../assets/images/ice caramel latte.jpg"
      class="card-img-top"
      alt="ice caramel latte.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">Caramel Latte</h5>

      <a routerLink="/products/4" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col-3" class="card" style="width: 14rem">
    <img
      src="../../assets/images/milk_tea.jpg"
      class="card-img-top"
      alt="milk_tea.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">Milk Tea</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a routerLink="/products/3" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col-3" class="card" style="width: 14rem">
    <img
      src="../../assets/images/macha.jpg"
      class="card-img-top"
      alt="macha.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">Macha</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a routerLink="/products/3" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
