<nav class="navbar navbar-expand-lg bg-body-tertiary mx-auto">
  <div class="container-fluid">
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">About us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row mt-3">
  <div class="col-2 mb-4">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/pf_latte.jpg"
        class="card-img-top"
        alt="latte.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Iced Latte</h5>
        <a routerLink="/products/1" class="btn btn-primary btn-sm"
          ><i class="fa-solid fa-cart-shopping"></i>Order</a
        >
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/pf_cappuccino.jpg"
        class="card-img-top"
        alt="cappuchino.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Cappuchino</h5>
        <a routerLink="/products/2" class="btn btn-primary btn-sm"
          ><i class="fa-solid fa-cart-shopping"></i>Order</a
        >
      </div>
    </div>
  </div>

  <div class="col-2 mb-3">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/pf_ex.jpg"
        class="card-img-top"
        alt="espresso.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Espresso</h5>
        <a routerLink="/products/3" class="btn btn-primary btn-sm"
          ><i class="fa-solid fa-cart-shopping"></i>Order</a
        >
      </div>
    </div>
  </div>

  <div class="col-2 mb-3">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/pf_esp.jpg"
        class="card-img-top"
        alt="americano.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Americano</h5>
        <a routerLink="/products/4" class="btn btn-primary btn-sm">Order</a>
      </div>
    </div>
  </div>

  <div class="col-2 mb-3">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/pf_ice.jpg"
        class="card-img-top"
        alt="iced coffee.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Iced Coffee</h5>
        <a routerLink="/products/5" class="btn btn-primary btn-sm">Order</a>
      </div>
    </div>
  </div>

  <div class="col-2 mb-3">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/pf_ca.jpg"
        class="card-img-top"
        alt="iced chocolate.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Iced chocolate</h5>
        <a routerLink="/products/6" class="btn btn-primary btn-sm">Order</a>
      </div>
    </div>
  </div>

  <div class="col-2 mb-3">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/pf_mocha.jpg"
        class="card-img-top"
        alt="mocha.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Mocha</h5>
        <a routerLink="/products/7" class="btn btn-primary btn-sm">Order</a>
      </div>
    </div>
  </div>

  <div class="col-2 mb-3">
    <div class="card" style="width: 13rem">
      <img
        src="../assets/images/ice caramel latte.jpg"
        class="card-img-top"
        alt="ice caramel latte.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Caramel Latte</h5>
        <a routerLink="/products/8" class="btn btn-primary btn-sm">Order</a>
      </div>
    </div>
  </div>

  <div class="col-2 mb-3">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/milk_tea.jpg"
        class="card-img-top"
        alt="milk_tea.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Milk Tea</h5>
        <a routerLink="/products/9" class="btn btn-primary btn-sm">Order</a>
      </div>
    </div>
  </div>

  <div class="col-2 mb-3">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/macha.jpg"
        class="card-img-top"
        alt="macha.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Macha</h5>
        <a routerLink="/products/10" class="btn btn-primary btn-sm">Order</a>
      </div>
    </div>
  </div>

  <div class="col-2 mb-3">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/frappe.jpg"
        class="card-img-top"
        alt="frappe.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Frappuccino</h5>
        <a routerLink="/products/11" class="btn btn-primary btn-sm">Order</a>
      </div>
    </div>
  </div>
  <div class="col-2 mb-3">
    <div class="card" style="width: 13rem">
      <img
        src="../../assets/images/greentea.jpg"
        class="card-img-top"
        alt="greentea.jpg"
      />
      <div class="card-body">
        <h5 class="card-title">Green Tea</h5>
        <a routerLink="/products/12" class="btn btn-primary btn-sm">Order</a>
      </div>
    </div>
  </div>
</div>
