<!-- <p>home works!</p> -->
<div class="background">
  <section class="home" id="home">
    <div class="home-text">
      <h1 class="heading">Summer Kaffe</h1>
      <h2>'Today's good mood is sponsored by Summer Kaffe'</h2>
      <!-- <a href="#" class="btn">Menu</a> -->
      <!-- <a class="btn btn-primary" href="#" role="button"></a> -->
      <div><br /></div>
      <button class="btn" type="submit">Button</button>
    </div>
    <div class="home-img">
      <img src="../assets/images/coffeecup.png" alt="coffeecup.png" />
    </div>
  </section>
  <div></div>
</div>
